.btn {
  color: red;

  &:hover {
    --un-bg-opacity:1;background-color:rgb(219 234 254 / var(--un-bg-opacity));
  }

  .poop {
    --un-bg-opacity:1;background-color:rgb(254 226 226 / var(--un-bg-opacity));
  }
}
