.fl-container {
  font-family: 'Inter Tight', sans-serif;
  margin-bottom: var(--fl-margin-bottom);
  margin-right: calc(var(--fl-margin-right) + 10px);
  @apply antialiased;

  /* Positioning */
  @apply fixed bottom-0 right-0 z-50;

  /* Responsive */
  @apply md:w-auto;

  .fl-trigger {
    @apply border border-slate-200/50 shadow-lg border-solid bg-slate-100 rounded-full cursor-pointer hover:bg-slate-200/80;
    @apply transition-all duration-100 ease-in-out transform;

    @apply p-1;

    /* Positioning */
    @apply bottom-0 right-0 z-10 flex items-center justify-around absolute border border-solid;

    /* Responsive */

    /* Dark mode */
    @apply dark:border-slate-600 dark:bg-gray-800 dark:hover:bg-gray-700;

    .fl-trigger-icon {
      /* @apply text-4xl text-slate-700; */
      font-size: var(--fl-trigger-icon-font-size);

      /* Responsive */
      @media (min-width: 768px) {
        font-size: var(--fl-trigger-icon-font-size-md);
      }

      /* Dark mode */
      @apply dark:text-gray-400;
    }
  }

  .fl-feedback-container-wrapper {
    @apply bottom-0 z-10 p-4 bg-white border border-gray-200 border-solid shadow-xl relative;

    /* Responsive */

    @media (min-width: 768px) {
      margin-bottom: var(--fl-wrapper-container-y-offset);
      margin-right: calc(var(--fl-wrapper-container-x-offset) - 1rem);
    }

    /* Dark mode */
    @apply dark:bg-gray-900 rounded-md dark:border-gray-600;

    .fl-feedback-container {
      @apply flex flex-col gap-4;

      .fl-feedback-container-header {
        @apply flex items-center justify-between text-lg font-semibold;

        .fl-feedback-container-header-close {
          @apply flex items-center justify-around rounded-lg cursor-pointer hover:bg-gray-100/80 w-7 h-7 hover:dark:bg-gray-900;

          .fl-close-icon {
            @apply text-2xl text-gray-400;

            /* Dark mode */
            @apply dark:text-gray-300;
          }
        }
      }

      .fl-feedback-container-content {
        @apply font-medium grid grid-cols-3 gap-2;

        .fl-feedback-container-content-message-type {
          @apply flex items-center p-1 bg-gray-100 rounded-lg cursor-pointer justify-evenly hover:bg-gray-200 hover:dark:bg-gray-800/90;
          @apply transition duration-500 ease-in-out transform;

          /* Responsive */
          @apply md:w-28;

          /* Dark mode */
          @apply dark:bg-gray-800;

          .fl-text-red-500 {
            @apply text-red-500;
          }

          .fl-text-yellow-500 {
            @apply text-yellow-600;
          }

          .fl-text-gray-600 {
            @apply text-gray-600;
          }

          .fl-feedback-container-content-message-type-icon {
            @apply text-2xl;
          }

          .fl-feedback-container-content-message-type-icon-large {
            @apply text-4xl;
          }
          .fl-feedback-container-content-message-type-label {
            @apply text-base font-medium;
          }

          &.is-active {
            @apply border-solid border-2 border-gray-700;
          }

          &.is-explicit-inactive {
            @apply opacity-50;
          }

          &.is-not-enteringMessage {
            @apply h-20 flex-col;
          }

          &.is-enteringMessage {
            @apply flex-row;
          }
        }
      }

      .fl-feedback-container-confirmation {
        span {
          @apply text-xl font-bold;
        }
      }

      .fl-feedback-container-form {
        @apply flex flex-col gap-3;

        textarea {
          @apply rounded-md resize-none text-sm font-sans border-2 px-3 py-2 font-semibold text-gray-600;
          @apply focus-visible:border-2 focus:border-blue-600 focus:ring-0 focus-visible:outline-none;
        }

        .fl-submit-button {
          @apply flex justify-around items-center;
          @apply bg-green-600 hover:bg-green-700 text-white rounded-md font-semibold text-sm py-2 cursor-pointer border-none focus-visible:outline-none;
          @apply transition duration-500 ease-in-out transform;
          @apply disabled:bg-green-600/50;

          .fl-icon {
            @apply text-lg;
          }
        }
      }
    }

    .arrow-down {
      @apply absolute bottom-0 right-0 -mb-4 mr-5;
      filter: drop-shadow(2px 10px 3px rgba(0, 0, 0, 0.05));
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 16px solid white;
    }
  }
}
.fl-backdrop {
  @apply fixed top-0 left-0 z-40 w-full h-full opacity-0 bg-black/80 transition-opacity duration-300;

  &.is-open {
    @apply opacity-40;
  }
  &.is-closed {
    @apply pointer-events-none;
  }
}
